<div class="index-page">

  <form {{action 'searchBooks' on='submit'}}>
    {{input type='search' value=searchValue class="search-field" placeholder="Insira o ISBN que deseja pesquisar" autocomplete='off'}}

    <div class="btn-container">
      <button type="submit" class="btn" disabled={{isSearching}}>Pesquisar</button>
    </div>
  </form>

  <div class="rearch-results">

    <h3 class="title">Resultados</h3>
    <p class="clear-search"><a href="" {{action 'clearSearch'}}>Limpar Resultados</a></p>

    <div class="row">
      {{#each searchResults as |result|}}
        <div class="col-sm-6 col-md-4">

          <div {{action 'saveBook'}} class="cursor-poiter">
            {{book-box
              title=result.volumeInfo.title
              authors=result.volumeInfo.authors
              thumbnail=result.volumeInfo.imageLinks.thumbnail
            }}
          </div>

        </div>
      {{/each}}
    </div>

  </div>

</div>
